.header-container {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;
}

.header-top h1 {
  font-family: "Montez", sans-serif;
  font-size: 2.9em;
}

.header-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.header-btn-off:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.header-btn:active {
  transform: scale(0.9);
}

#icon-user {
  width: 40px;
}

.pesquisa {
  display: flex;
  flex-direction: row;

  margin: 0vh 3vh;
  padding: 2vw;
}

svg {
  width: 1.5rem;
  padding: 1.8vw;
  color: #4f4f4f;
}

#pesquisa {
  border: transparent;
  outline: none;
  background-color: transparent;
  width: 80%;
  font-size: 1.2em;
  padding: 2vw;

  border-bottom: solid 1px black;
}
